@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  width: 100vw;
  min-height: 100vh;
  background-color: #302e2e;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fcall-of-duty-modern-warfare-special-ops_66976_3840x2160.jpg&f=1&nofb=1&ipt=c37aa36df8ad4edea28f04b270f8fcec724da9b2f69add008bd42f7846177184&ipo=images');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(100px);
}

.loading-text {
  color: #fff;
  font-size: 2rem;
}