@import "base";

::-webkit-scrollbar-track {
    border: 5px solid white;
    /* border color does not support transparent on scrollbar
    border-color: transparent; */
    background-color: #b2bec3;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 10px;
}
