$color-primary: #009485;
$color-primary-dark: #016e63;
$color-primary-light: #1ea195;


$color-secondary: #3fd080;
$color-third: #6e59d9;

$color-white: #f5f5f5;
$color-black: #21222c;
$color-grey-dark: #666666;
$color-grey: #999999;

$color-success: #1c7d4d;
$color-danger: #d52a2a;
$color-warning: #ffaa00;
$color-info: #3f6ec6;
$color-disable: #000000;

$font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-family-code: monospace, $font-family; 

// Shadows
$shadow-min: 0 0.2rem 0.5rem rgba(0,0,0,.05),0 0 0.05rem rgba(0,0,0,.1);


// sizes
$window-max-width: 1400px