@import "base";
@import "utils";
    
.callout {
  font-size: 0.9rem;
  margin: 2em 3em;
  border-left: 4px solid $color-primary;
  box-shadow: $shadow-min;

  &__header {
    background-color: rgba($color: $color-primary, $alpha: 0.3);
    font-size: 1rem;
    font-weight: 700;
    padding: .7em 1em;
    
    span {
      color: $color-primary;
      margin-right: .3em;
    }
  }

  &__content {
    color: $color-grey-dark;
    padding: .7em 1em 1em;
  }

  &--success {
    @extend .callout;
    border-left: 4px solid $color-success;

    .callout__header {
      background-color: rgba($color: $color-success, $alpha: 0.3);        
      span {
        color: $color-success;
      }
    }
  }
  &--warning {
    @extend .callout;
    border-left: 4px solid $color-warning;

    .callout__header {
      background-color: rgba($color: $color-warning, $alpha: 0.3);        
      span {
        color: $color-warning;
      }
    }
  }
  &--danger {
    @extend .callout;
    border-left: 4px solid $color-danger;

    .callout__header {
      background-color: rgba($color: $color-danger, $alpha: 0.3);        
      span {
        color: $color-danger;
      }
    }
  }

}
